body {
    font-family: Arial, sans-serif;
    background-image: url("./images/resetpass.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: poppins;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.centre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}


form {
    width: 400px;
    margin-top:190px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 90px 0 200px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
}

input[type="password"] {
    width: 360px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 50px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 30px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(255, 0, 247);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background: rgb(255, 0, 247);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(255, 0, 247),
              0 0 25px rgb(255, 0, 247),
              0 0 50px rgb(255, 0, 247),
              0 0 100px rgb(255, 0, 247);
}

button[type="submit"],
button[type="button"] {
    margin-top: 10px;
}

button[type="button"] {
    background-color: #ccc;
    color: #000;
}

button[type="button"]:hover {
    background-color: #999;
}