<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'memberlogin.css' %}">
    <title>Member Login Page</title>
    
</head>
<body>
    <script>
        function clearmessages() {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        }
        window.onload = clearmessages;
        </script>



<div class="login-box">
    <form method="post" action="{% url 'adminlogin' %}">
        <center>
            <h1 style="color: blue;">Login</h1>
        </center>
        {% csrf_token %}
    <div class="user-box">
      <input type="text" name="a_id" required>
      <label>Admin Id</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>
    <center>
        <button type="submit">Login</button>
    </center>
  </form>
  <br>
  
 <script>
    document.getElementById('refer').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default anchor behavior

        // You can perform additional actions here if needed before redirection

        // Redirect to the specified URL
        window.location.href = this.getAttribute('href');
    });
</script>

</div>


</body>
</html>
