<!-- reset_password.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- ... (your existing head content) ... -->
    <link rel="stylesheet" type="text/css" href="{% static 'memberpassreset.css' %}">
    <title>Reset Password</title>
    <!-- ... (your existing styles) ... -->
    

</head>
<body>
    <script>
        function clearmessages() {
            {% if messages %}
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            {% endif %}
        }
        window.onload = clearmessages;
        </script>
    <div class="centre">

        <form method="post" action="{% url 'member_reset_password' user_id=user_id %}">
            {% csrf_token %}
            <label for="new_password">New Password:</label>
            <input type="password" name="new_password" required><br>
    
            <label for="confirm_new_password">Confirm New Password:</label>
            <input type="password" name="confirm_new_password" required><br>
    
            <button type="submit">Submit</button>
        </form>
        <form method="get" action="{% url 'success_page' user_id=user_id %}">
            <button type="submit">back</button>
        </form>
    </div>
</body>
</html>