<!-- success_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <h2>Success Page</h2>

    {% if user %}
        <p>Name: {{ user.name }}</p>
        <p>Member ID: {{ user.m_id }}</p>
        <p>PHONE NO: {{ user.phno }}</p>
        <p>current package: {{ user.package_name }}</p>
        <p>Your Trainer: {{ user.e_id.name }}</p>
    {% endif %}

    <form method="get" action="{% url 'login' %}">
        <button type="submit">logout</button>
    </form>
    <form method="post" action="{% url 'member_reset_password_page' user_id=user.id %}">
        {% csrf_token %}
        <button type="submit">Reset Password</button>
    </form>
    
</body>
</html>
