<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Reset Password</title>
        <link rel="stylesheet" href="{% static 'trainer_reset_password.css' %}">
    </head>
    <body>
        <script>
            function clearmessages() {
                {% if messages %}
                    {% for message in messages %}
                        alert("{{message}}");
                    {% endfor %}
                {% endif %}
            }
            window.onload=clearmessages;
        </script>
        <div class="centre">
        
            <form method="post" action="{% url 'reset_password' user_id=user_id %}">
            
                <h2>Reset Password</h2>
                {% csrf_token %}
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password"><br>
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" name="confirm_new_password">

                <div class="btns">
                    <button type="submit">Submit</button>
            </form>
            <form method="get" action="{% url 'trainer_success' user_id=user_id %}">
                <button type="submit">Back</button>
            </div>
               </form>
        </div>
    </body>
</html>